@page "/home"
@using Organized.Application.Users.User

<PageTitle>Home</PageTitle>

<div class="welcome-container">
    <h1>Welcome to Organized</h1>
    <p>You are now logged in.</p>
</div>

@code {

}

